body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
@font-face {
    font-family: Fredoka;
    /* src: url(./FredokaOne-Regular.ttf); */
}